.NoMatch {    
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    padding: 10%;
    color: #1e2a48;
    background-color: rgb(25,86,99,0.7);
    border-radius: 19px;
}

.NoMatch img {
    width: 200px;
}